.wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.rect {
  display: inline-block;
  width: 6px;
  height: 100%;
  margin: 0 1px;
  animation: waveStretchDelay 1.2s infinite ease-in-out;
}

.rect:nth-child(1) {
  animation-delay: -1.2s;
}

.rect:nth-child(2) {
  animation-delay: -1.1s;
}

.rect:nth-child(3) {
  animation-delay: -1s;
}

.rect:nth-child(4) {
  animation-delay: -0.9s;
}

.rect:nth-child(5) {
  animation-delay: -0.8s;
}

@keyframes waveStretchDelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
