@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src:
    local("Roboto Light"),
    local("Roboto-Light"),
    url(./55536c8e9e9a532651e3cf374f290ea3.woff2)format("woff2"),
    url(./a1471d1d6431c893582a5f6a250db3f9.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto Regular"),
    local("Roboto-Regular"),
    url(./5d4aeb4e5f5ef754e307d7ffaef688bd.woff2) format("woff2"),
    url(./bafb105baeb22d965c70fe52ba6b49d9.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url(./285467176f7fe6bb6a9c6873b3dad2cc.woff2) format("woff2"),
    url(./de8b7431b74642e830af4d4f4b513ec9.woff) format("woff");
}
